name: Trigger modaic-docs aggregation
on:
    push:
        branches:
            - main

jobs:
    trigger:
        runs-on: ubuntu-latest
        steps:
            - name: Trigger workflow
              uses: actions/github-script@v7
              with:
                  github-token: ${{ secrets.TRIGGER_DOCS_AGR }}
                  script: |
                      await github.rest.actions.createWorkflowDispatch({
                        owner: 'modaic-ai',
                        repo: 'modaic-docs',
                        workflow_id: 'mintlify.yml',
                        ref: 'main',
                        inputs: {}
                      })
